.info-user {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;

}

.name,
.email {
  flex: 1;
  max-width: 50%;
  word-wrap: break-word;
}

.comment {
  background-color: #dadada;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #fff;
  margin: 0;
  padding: 10px 5px;

}
section {
  display: flex;
  justify-content: center;
  max-width: 900px;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 5px;
  padding: 10px;
}
.comment:hover{
  background-color: aqua;
}

.pagination {
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  width: 20px;
  text-align: center;
}
.pagination:hover{
  background-color: aqua;
}
